.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.main__title {
  font-size: 24px;
  text-align: center;
}

.main__subtitle {
  font-size: 16px;
  text-align: center;
}

.main__form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

.main__form__input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.main__form__input:invalid {
  border: 1px solid red !important;
}

.main__form__submit {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main__form__submit__button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  margin-left: auto;
  transition: all 0.1s ease-in-out;
  float: right;
}

.main__form__submit__button--checkbox {
  cursor: not-allowed;
  opacity: 0.7;
  touch-action: none;
}

.main__form__submit__button--checkbox-checked {
  background-color: #1f91b0 !important;
  color: var(--text-color-light) !important;
  opacity: 1 !important;
  cursor: pointer !important;
  touch-action: unset;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1rem;
    max-width: 100vw;
  }

  .main__form__submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main__form__submit__button {
    width: 100%;
  }
}
