.main__title {
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
}

.main__container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.main__container__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  max-width: 18rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.main__container__card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  filter: brightness(0.5);
}

.main__container__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main__container__card__content__title {
  color: var(--text-color-light);
  font-size: 20px;
  text-align: center;
}

.main__container__card__content__text {
  color: var(--text-color-light);
  font-size: 16px;
  text-align: center;
}

.main__container__card__content__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.main__container__card__content__button:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color-light);
}

.main__maps {
  padding: 1rem;
}

.main__maps__title {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.main__maps__iframe {
  border: var(--primary-color) 3px solid;
  height: 20rem;
  background-color: var(--primary-color);
}

.main__maps__iframe > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 768px) {
  .main__title {
    padding: 0 2rem;
  }
}
