@import url("./constants.css");
@import url("./animations.css");

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom right,
    var(--quinary-color),
    var(--bg-color)
  );
  display: grid;
  width: 100vw;
  grid-template-rows: 100vh 1fr auto;
}

.body__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.body__background__image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.body__overlay {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 28px;
  z-index: 2;
  padding: 0.5rem 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.body__background__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-light);
  text-shadow: 0px 0px 128px 24px rgba(var(--quinary-color-rgb), 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 2rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo img {
  width: 32px;
  color: var(--text-color-light);
}

.header__logo__divider {
  width: 1px;
  height: 24px;
  background-color: var(--text-color-light);
}

.header__nav__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .header__container {
    align-items: start;
    padding: 0 1rem;
  }
  .header__logo {
    margin-top: 1rem;
  }
  .header__nav__list {
    flex-direction: column;
    gap: 1rem;
    text-align: end;
  }
}

.header__nav__list--glow:hover {
  cursor: pointer;
  text-shadow: 0px 0px 128px 24px rgba(var(--quinary-color-rgb), 0.3);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: var(--primary-color);
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__logo img {
  width: 32px;
  color: var(--text-color);
}

.footer__logo__divider {
  width: 1px;
  height: 24px;
  background-color: var(--bg-color);
}

.footer__nav__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.footer__social__icon {
  font-size: 22px;
}

.main__title {
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
}

.main__container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.main__container__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: rgba(var(--primary-color-rgb), 0.6);
  border-radius: 8px;
  max-width: 18rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.main__container__card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  z-index: -1;
}

.main__container__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main__container__card__content__title {
  color: var(--text-color-light);
  font-size: 24px;
  text-align: center;
}

.main__container__card__content__text {
  color: var(--text-color-light);
  font-size: 16px;
  text-align: center;
}

.main__container__card__content__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
