/*  Variables */
@import url("./constants.css");
/* Animations */
@import url("./animations.css");

/* Globals */
* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  all: unset;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utils */
.utils__small-screen {
  display: none;
}

.utils__big-screen {
  display: block;
}

@media screen and (max-width: 768px) {
  .utils__small-screen {
    display: block;
  }

  .utils__big-screen {
    display: none;
  }
}

/* Shared styles */

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom right,
    var(--quinary-color),
    var(--bg-color)
  );
  display: grid;
  width: 100vw;
  overflow-y: scroll;
}

.body--home {
  grid-template-rows: 100vh 1fr auto;
}

.body--sub-pages {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.body__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.body__background__image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.body__overlay {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 28px;
  z-index: 2;
  padding: 0.5rem 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--text-color-light);
}

.body__background__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-light);
  text-shadow: 0px 0px 128px 24px rgba(var(--quinary-color-rgb), 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 2rem;
  color: var(--text-color-light);
}

.header--opaque {
  background-color: var(--primary-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo img {
  width: 32px;
  color: var(--text-color-light);
}

.header__logo__divider {
  width: 1px;
  height: 24px;
  background-color: var(--text-color-light);
}

.header__nav__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  color: var(--text-color-light);
}

@media screen and (max-width: 768px) {
  .header__nav__list > li > a > i {
    font-size: 24px;
  }
}

.header__nav__list--glow:hover {
  cursor: pointer;
  text-shadow: 0px 0px 128px 24px rgba(var(--quinary-color-rgb), 0.3);
}

.footer {
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__logo img {
  width: 32px;
  color: var(--text-color);
}

.footer__logo__divider {
  width: 1px;
  height: 24px;
  background-color: var(--bg-color);
}

.footer__nav__list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.footer__social__icon {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.footer__social__icon:hover {
  cursor: pointer;
}

.footer__social__icon:hover,
.footer__nav__list:active {
  color: var(--tertiary-color);
}
.footer__nav__list--glow:link,
.footer__nav__list--glow:visited {
  color: var(--quaternary-color);
}
